extends:
  - airbnb-base
  - airbnb-typescript/base
  - eslint:recommended

parserOptions:
  project: "./tsconfig.json"

env:
  node: true
  es6: true

globals:
  artifacts: true

rules:
  no-use-before-define: 0
  class-methods-use-this: 0
  no-underscore-dangle: 0
  no-undef: off
  import/extensions: off
  import/no-unresolved: off
  prefer-destructuring: off
  no-console: off
  camelcase: off
  no-await-in-loop: off
  operator-linebreak: error
  no-else-return: off
  no-plusplus: off
  object-curly-newline: off
  "@typescript-eslint/no-unused-vars":
    - error
    - args: after-used
      vars: local
      varsIgnorePattern: "^ignore"
      argsIgnorePattern: "^ignore"
  no-unused-vars:
    - error
    - args: after-used
      vars: local
      varsIgnorePattern: "^ignore"
      argsIgnorePattern: "^ignore"
  import/no-extraneous-dependencies:
    - off
  quotes:
    - error
    - single
  max-len:
    - error
    - 120
