node_modules

#Hardhat files
cache
artifacts
deployments

dev-keys.json
package-lock.json

.DS_Store

.idea

packages/*/src/types
src/types

.env

# test coverage
coverage.json
coverage/
coverage_2/
packages/*/coverage/
packages/*/coverage_2/

# foundry
packages/*/out/
packages/*/cache_forge

dist/

# foundry
packages/*/out/
packages/*/cache_forge

output/

yarn-error.log

.yarn
.yarnrc.yml

airdrop-mappings.json
investor-allocations.json
